.right{
    text-align: right;
}

.left{
    text-align: left;
}

.conversation{
    border: 2px solid #ee735c;
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.submit{
    margin-top: 10px;
}

.content{
    display: inline-block;
    border: 2px solid antiquewhite;
    background:#fff;
    width:100%;
    min-height:80px;
    padding:0 30px;
}